<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      QR Code Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">QR Code Token</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card *ngIf="scannedCode" style="padding: 20px;">
      <ion-card-content>
        {{scannedCode}}
      </ion-card-content>

    </ion-card>
    
    <ion-button expand="full" (click)="scanCode()"><ion-icon name="scan"></ion-icon>Scanear QR Code</ion-button>

  </div>


</ion-content>
