<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Requisições de Exame
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">QR Code Token</ion-title>
    </ion-toolbar>
  </ion-header>
 

  <div id="container">


    
    <div *ngFor="let requisicao of Requisicoes">
      <ion-button expand="full" color="transparent" style="display: flex; justify-content: space-between; padding: 0;">
      <ion-card style="width: 100%;">
       
        <ion-item>
          <ion-label>{{requisicao.ID}}</ion-label>
          <ion-button *ngIf="requisicao.Status == 0" fill="outline" slot="end">{{requisicao.Status | examesAprov}}</ion-button>
          <ion-button *ngIf="requisicao.Status == 1" fill="outline" slot="end" color="success" (click)="navigateAprovado(requisicao.ID)">{{requisicao.Status | examesAprov}}</ion-button>
          <ion-button *ngIf="requisicao.Status == 2" fill="outline" slot="end" color="danger" (click)="navigateNaoAprovado(requisicao.ID)">{{requisicao.Status | examesAprov}}</ion-button>
          <ion-button *ngIf="requisicao.Status == 3" fill="outline" slot="end" color="warn">{{requisicao.Status | examesAprov}}</ion-button>
        </ion-item>
     
      </ion-card>
    </ion-button>

    </div>


  </div>
</ion-content>
