<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Requisição Não Aprovada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Requisição Não Aprovada</ion-title>
    </ion-toolbar>
  </ion-header>
 

  <div id="container">

    <p style="text-align: justify; padding: 10px;">Sua requisição número <b>{{ID}}</b> não foi aprovada devido lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet condimentum eros. Nullam imperdiet semper nisl vitae cursus. Proin vel risus in turpis bibendum iaculis. Proin tincidunt sapien vel est scelerisque posuere in molestie enim.</p>

  </div>